    <header id="img_header" class="intro-header"  ng-style="{'background-image': 'url(ABOUT_PICTURE)'}" style="background-repeat: no-repeat; background-size: cover;  backgroun-position: center; background-color: black; margin-bottom: 0px" >
        <!-- -->
        <div class="container">

            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div id="story-title">
                    StreetsOf<span id="story-title-bold">TLV</div>
                </div>

                    <div class="site-heading" style="padding: 40px 0; text-align:center;">
                        <h1 id="story-heading">About us</h1>
                        <!--<hr class="small">-->
                        <div id="story-subtitle" class="thin">About StreetsOfTLV</div>
                        <div id="story-map" style="margin-top: 40px">
                            <img src="/public/css/img/map.png" style="width:24px; height: 35px"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
<div style="background-color: #fafafa; width: 100%;">
    <!-- Main Content -->
    <div class="container" >

        <div class="row" >
            <div class="col-md-8 col-md-offset-2">
             	<!--<div>-->
             		<!--<i class="fa fa-map-marker"></i><a href="#">{{ story.location }}</a>-->
             	<!--</div>-->
             	<div id="story-text">
             		<!--<div ><i class="fa fa-align-justify"></i><a href="#">Story</a></div>-->
                    <p dir="rtl"><span style='font-weight: bold'>מאיפה</span> הגענו?
<br>
                        <br>
אנחנו זוכרים איפה היתה הנשיקה הראשונה שלנו. איפה ראינו את הסרט הראשון, החלקנו עם האופניים, והדייט הראשון. החיים שלנו מורכבים מרגעים קטנים, מרגשים, שהשפיעו עלינו לא פחות מהמלחמות הגדולות או המשברים הכלכליים, המתועדים היטב בספרי ההיסטוריה ובויקיפדיה. אנחנו דור שאוהב לשתף, אבל רק מעכשיו לעכשיו. אין ציר זמן אמיתי שבו אנחנו זוכרים את הרגעים הקטנים מפעם - לא שלנו, ולא של אחרים.<br>
<br>
אז למה לא להשתמש במדיה החדשה כדי לאסוף מחדש את הזכרונות, ולרענן לא רק את העבר שלנו, אלא ליצור היסטוריה משותפת של העיר. אנחנו רוצים לייצר מקום שיספק עונג נוסטלגי ממש כמו אלבומי התמונות של פעם. מקום שבו תושבי העיר, יכולים לשתף את הרגעים שקרו להם ברחובות. מקום שיזכיר לנו שהאנשים מולנו ברחוב, הם אוסף של סיפורים, לא פרצופים אלמוניים.הרחובות נושאים שמות של אנשים חשובים, מאחוריהם סיפורים מרשימים. אבל אם הרחובות היו יכולים לדבר, הם היו מספרים דווקא את סיפורי הרכילות, את הסיפורים הקטנים.<br>
<br>
אנחנו נייצר את הספר האינטראקטיבי הראשון שמגיע מהסיפורים שלכם, אנשי העיר. ספר שכותב את ההיסטוריה מלמטה למעלה. הפלטפורמה הזו נבנית בתל-אביב, בשביל תל-אביב, אבל יש לנו הרגשה שהיא הולכת להיות דוגמא לשאר ערי העולם.<br>
<br>
<br>
מי אנחנו<br>
                        </p>
אנחנו מעצבים, אנשי רעיונות, כותבים, חולמים, עורכים, מתכנתים, צעירים נוסטלגים. אנחנו גרים בעיר, אוהבים את הרחובות, צמאים לסיפורים.<br>
<br>
״רחובות תל אביב״ הוא פרויקט ללא מטרות-רווח, שיצרנו במשך סופשבוע אחד מאד ארוך, בדרום תל-אביב.<br>
<br>
    <br></p>
             		<span style='font-weight: bold'>Where</span>
                    <span> did we come from?<br>
<br>
We remember where our first kiss was. Where we saw our first movie, bought the first record, and where we fell off our bike. Our lives are composed of brief, exciting moments that influenced us no less than the wars or the economic crises well documented in history books and in Wikipedia. We're a generation of people who enjoy sharing, although only from one moment to the next. There's no real timeline in which we, or anyone else, reminisce on these moments from our past.<br>
<br>
So why not use today's new media to gather together these memories (and recreate not only our own ancestry but also a collective history of an entire city)? Our mission is to provide a place which will satisfy the nostalgic pleasure just as photo albums once did. A place where the city's inhabitants can share experiences that happened to them on the streets. A place that will remind us that the people who pass us by, who sit next to us on a bench, and who share public transport with us, are not just unfamiliar faces but are a collection of stories and experiences. The streets carry the names of significant people and their remarkable history. But the streets are marked by the people it encounters and if only the streets could talk, they would share their moments.<br>
<br>
We intend to create the first interactive book compiled by your stories. This book will tell the history of the city from bottom up. This platform is built in Tel Aviv, for Tel Aviv, with the confidence that it will serve as an example for other cities around the world.<br>
<br>
Who are we?<br>
<br>
We are designers, creatives, writers, dreamers, editors, developers and nostalgic youth. We live in the city, are passionate about the streets, and are thirsty for stories.<br>
<br>
"Streets" of Tel Aviv is a non-profit project, created over one long weekend in South Tel Aviv. </span>
             	</div>


            </div>

            <!--<div class="col-md-4">-->
            	<!--<div><i class="fa fa-user"></i>{{ story.authorName }}</div>-->
            	<!--<div><i class="fa fa-calendar"></i>{{ story.storyDate }}</div>-->
            	<!--<div><input id="txt_tags" type="text" value="{{ story.tags }}" disabled=disabled data-role="tagsinput"/></div>-->
            <!--</div>-->
        </div>

        <div class="row" style="margin-top: 42px;">
            <div class="col-md-8 col-md-offset-2">
                <hr>
            </div>
        </div>



    </div>

</div>
    <!-- Footer -->
    <footer style="background-color: #fafafa">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2">
                    <div style="text-align: center;">
                        <button class="story-button" >
                            <a href="/" style="color: white !important; text-decoration: none;">
					            Back to the stories
                            </a>
                        </button>
                        <br/>
                    </div>

                </div>
            </div>

        </div>