    <header id="img_header" class="intro-header"  ng-style="{'background-image': 'url('+story.imageUrl+')'}" style="background-repeat: no-repeat; background-size: cover;  backgroun-position: center; background-color: black; margin-bottom: 0px" >
        <!-- -->
        <div class="container">

            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div id="story-title">
                    StreetsOf<span id="story-title-bold">TLV</div>
                </div>

                    <div class="site-heading" style="padding: 40px 0; text-align:center;">
                        <h1 id="story-heading">13 Shocken St.</h1>
                        <!--<hr class="small">-->
                        <div id="story-subtitle" class="thin">A story by Ron Segall</div>
                        <div id="story-map" style="margin-top: 40px">
                            <a href="#">
                                <img src="/public/css/img/map.png" style="width:24px; height: 35px"/>

                                <div class="thin roboto" style="font-size: 11px">
                                    Explore Map
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
        <div class="row" style="background-color: #ffffff">
            <div class="col-md-10 col-md-offset-2" style="line-height: 54px">
                <span class="col-md-2"><a ng-click="toPreviousStory()"><img class="pointer" src="/public/css/img/arrow-left.png" style="width: 15px"/></a>
                </span>
                    <span class="col-md-6" id="story-create">Written on {{story.storyCreateDate | date:'MMMM dd, yyyy'}}</span>
                <span class="col-md-2 col-md-offest-2"><a ng-click="toNextStory()" ><img class="pointer" src="/public/css/img/arrow-right.png" style="width: 15px"/></a>
                    </span>
            </div>
        </div>

<div style="background-color: #fafafa; width: 100%;">
    <!-- Main Content -->
    <div class="container" >

        <div class="row" >
            <div class="col-md-8 col-md-offset-2">
             	<!--<div>-->
             		<!--<i class="fa fa-map-marker"></i><a href="#">{{ story.location }}</a>-->
             	<!--</div>-->
             	<div id="story-text">
             		<!--<div ><i class="fa fa-align-justify"></i><a href="#">Story</a></div>-->
             		<span style='font-weight: bold'>{{ story.text|stFirstWord}}</span>
                    <span>{{story.text|stAllButFirstWord}}</span>
             	</div>
             	

            </div>   
            
            <!--<div class="col-md-4">-->
            	<!--<div><i class="fa fa-user"></i>{{ story.authorName }}</div>-->
            	<!--<div><i class="fa fa-calendar"></i>{{ story.storyDate }}</div>-->
            	<!--<div><input id="txt_tags" type="text" value="{{ story.tags }}" disabled=disabled data-role="tagsinput"/></div>-->
            <!--</div>-->
        </div>

        <div class="row" style="margin-top:80px;">
            <div class="col-md-8 col-md-offset-2" >
                <div style="float:left">
                <a ng-click="launchFacebookShare()"><img class="share-button" src="/public/css/img/fb_button_off.png" /></a>
                <a style="margin-left: 10px" ng-click="launchTwitterShare()"><img class="share-button" src="/public/css/img/tw_button_off.png"/></a>
                    </div>
                <form id="story-form" >
                    <input id="story-email" type="text" placeholder="Your Email"/>
                    <button id="story-submit">Send me new stories</button>
                </form>
            </div>
        </div>

        <div class="row" style="margin-top: 42px;">
            <div class="col-md-8 col-md-offset-2">
                <hr>
            </div>
        </div>



    </div>

</div>
    <!-- Footer -->
    <footer style="background-color: #fafafa">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2">
                    <div id="story-yours">
                        {{ call_to_action }}
                    </div>


                    <div style="text-align: center; margin-top: 50px">
             	    	<button id="story-button" href="#">
					        Tell your story
                        </button>
                        <br/>
                    </div>

                </div>
            </div>

        </div>